# Git
.git
.gitignore

# Virtual Environment
venv/
env/
.env

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Local Data / DBs (if any)
*.sqlite3
*.db

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store
